<div class='center'>
  <% @specialties.each do |specialty| %>
    <!-- <div class="row waves-effect waves-light btn" id="specialty-button"> -->
      <%= link_to "#{specialty.name} Developers", specialty_path(specialty), class: "row waves-effect waves-light btn", id: "specialty-button" %>
    <!-- </div> -->
  <% end %>
</div>

<div class="row">

  <%= render @developers %>

</div>
