<div class="row center" id="buttons-row" style="display: inline-block;">
  <% @specialties.each do |specialty| %>
    <%= link_to "#{specialty.name} Developers", specialty_path(specialty) %>
  <% end %>
</div>

<div class="row">
  <%= render @developers %>
</div>
