
<div class="container">
  <div class="center">
    <h1 class="mint-shadow" style="font-size: 70px;">Current Tribe</h1>
    <hr class="gradient">
    <h3>1. Select Developers or Auto-Generate a Tribe<br>2. Review your hires<br>3. Then complete the form below to start the project!</h3>
    <%= render "/small_totems_row" %>
  </div>

    <%= render "project"  %>
    <h1 class="center mint-shadow">Auto-Generate a Tribe!</h1>
    <h4 class="center">Please fill your preferred criteria</h4>
    <%= render "tribe_recommendation_form" %> 

  <div class='background-fox' style="background-size: cover;">
    <%= render partial: "new_project_form" %> 
  </div>
</div>

