<nav>
    <div class="nav-wrapper deep-orange darken-4 coming-soon-font">
      <a href="/" class="brand-logo">Hire My Tribe</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%=link_to "Browse Developers", developers_path %></li>
        <li>Browse Companies<%#=link_to "", developers_path %></li>
        <li>Create Account<%#= link_to "Browse Developers", developers_path %></li>
        <li><%= link_to "Current Tribe", tribe_path %></li>
      </ul>
    </div>
  </nav>
