<div class="container">
  <div class="parallax-container">
    <div class="background-image parallax" id="primary-logo"></div>
  </div>

  <div class="amatic-font center">
    <h2>Hire Developers, Not Recruiters</h2>
    <% if !current_user? %>
      <h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to "Sign Up", sign_up_path %></h3>
    <% end %>
  </div>

<%= render partial: "/small_totems_row" %> 

</div>