<div class="container center">
  <h1 class="mint-shadow" style="font-size: 60px;">All Tags</h1>
  <h1 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Add a Tag", new_admin_tag_path) %></h1>

  <%= render partial: "tags_index_table" %>

</div>
