<div class="container center">
  <h1>All Tags</h1>
  <ul>
    <% @tags.each do |tag| %>
      <li><h3><%= tag.name %></div>
      <h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Edit Tag", edit_admin_tag_path(tag)) %><h3></li>
      <h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Remove Tag", admin_tag_path(tag), method: :delete) %><h3></li>
    <% end %> 
  <ul>

  <h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Add a Tag", new_admin_tag_path) %></h3>
</div>