<body class="background-wolf-cover">
  <div class="center container">
    <h1 class="mint-shadow">Admin Dashboard</h1>
    <h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Specialties", admin_specialties_path) %></h3><br>
    <h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Tags", admin_tags_path) %></h3>
  </div>
</body>