<h2>Admin Dashboard</h2>
<h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Specialties", new_admin_specialty_path) %></h3>
<h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to("Tags", admin_tags_path) %></h3>
