<nav>
  <div class="nav-wrapper brown navbar-font">
    <a href="/" class="brand-logo center" id="normal-brand-logo">Hire My Tribe</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down navbar-font">
      <li><a class="dropdown-button navbar-font" data-activates="dropdown1">Browse Developers</a></li>
      <li>Create Account</li>
      <li><a href="/tribe">Current Tribe</a></li>
    </ul>
  </div>
</nav>

  <ul id="dropdown1" class="dropdown-content navbar-font">
    <li><%= link_to "All Developers", developers_path %></li>
    <li class="divider"></li>
    <% @specialties.each do |specialty| %>
      <li> <%= link_to "#{specialty.name} Developers", specialty_path(specialty) %> </li>
    <% end %>
  </ul>