<nav>
  <div class="nav-wrapper brown navbar-font">
    <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <%= link_to "Hire My Tribe", root_path, class: "brand-logo center", id: "normal-brand-logo" %>

    <ul class="side-nav" id="mobile-demo">
      <%= render partial: "navbars/mobile_nav" %>
    </ul>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <%= render partial: "navbars/left_nav" %>
    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down navbar-font">
      <%= render partial: "navbars/right_nav" %>
    </ul>
  </div>
</nav>
