<li><a class="dropdown-button" id="dropdown-font" data-activates="dropdown1">Developers</a></li>
<li id="navbar-font"><%= link_to "Contractors", developers_path, id: "navbar-font" %></li>
<li id="navbar-font"><%= link_to "Current Tribe", tribe_path, id: "navbar-font" unless current_developer %></li>

<%# The following renders dropdown functionality %>
<ul id="dropdown1" class="dropdown-content navbar-font">
  <li><%= link_to "All Developers", developers_path %></li>
  <li class="divider"></li>
  <% @specialties.each do |specialty| %>
    <li> <%= link_to "#{specialty.name} Developers", specialty_path(specialty) %> </li>
    <li class="divider"></li>
  <% end %>
</ul>
