.amatic-font {
  font-family: 'Amatic SC', cursive;
 }

.cantarell-font {
font-family: 'Cantarell', sans-serif;
}

.mint {
  color: #669884;
}

.grey-purple {
  color: #757D95;
}

.brown {
  color: #540018;
}

.navbar-font {
  font-size: 20px;
}

 #brand-logo {
   text-decoration: underline #669884;
   font-weight: 600;
   font-size: 150px;
   margin-top: 50px ;
   color: black;
   text-shadow: 2px 2px #669884;
   margin-bottom: 200px;
 }

 .parallax-container {
  margin-top: 80px;
   }

.tribe-row {
  display: inline-block;
}

.background-image { 
  background-image: url('HireMyTribeLogoSmall.png');
  background-size: contain; 
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#primary-logo {
  height: auto;
  width: auto;
  max-width: 1200px;
  max-height: 500px;
}

#normal-brand-logo{
  text-decoration: underline;
  font-size: 50px;
}

#primary-text {
  font-weight: 600;
  border-bottom-color: yellow;
}

#specialty-button {
    display: inline-block;
    text-align: center;
    background-color: #669884;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}

#developer-card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#developer-image {
  height: 250px;
  border-radius: 150px;
}

.card-content {
  font-size: 2.0rem;
}

.card-action {
  background-color: black;
  left: 0;
}

#developer-bio {
  color: #540018;
  font-size: 50px;
  text-align: center;
  background-color: #669884;
  width: 100%;
}














