body {
  /*background-image: url("https://i.ytimg.com/vi/h34MSoNUXSM/maxresdefault.jpg");
  background-size: 150%;*/
}

/*fonts and colors*/
.amatic-font {
  font-family: 'Amatic SC', cursive;
 }

.cantarell-font {
  font-family: 'Cantarell', sans-serif;
}

.mint {
  color: #669884;
}

.grey-purple {
  color: #757D95;
}

.brown {
  color: #540018;
}

.mint-shadow {
  text-shadow: 2px 2px #669884;
}

/*.brown-shadow {
  text-shadow: 2px 2px #540018;
}*/

#navbar-font {
  font-size: 1.5em;
  text-shadow: 2px 2px #540018;
}

#dropdown-font {
  font-size: 2.5em;
  text-shadow: 2px 2px #540018;
}

/*navbars*/
 #brand-logo {
   text-decoration: underline #669884;
   font-weight: 600;
   font-size: 150px;
   margin-top: 60px ;
   color: black;
   text-shadow: 2px 2px #669884;
   margin-bottom: 20px;
 }

#normal-brand-logo{
  text-decoration: underline;
  font-size: 60px;
  text-shadow: 3px 3px #540018;
}

/*welcome page*/
.parallax-container {
  margin-top: 80px;
   }

#primary-logo {
  height: auto;
  width: auto;
  max-width: 1200px;
  max-height: 500px;
}

.background-image {
  background-image: url('HireMyTribeLogoSmall.png');
  background-size: contain;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
/*reused*/
.login-link {
  margin-right: 5%;
  font-size: 2.5em;
}

.login-link a {
  /*text-shadow: 2px 2px #669884;*/
  color: black;
  text-decoration: underline;
}

hr.gradient {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
#single-totem img {
  height: 80px;
  width: auto;
}

#signup-button {
    display: inline-block;
    text-align: center;
    background-color: #669884;
    margin-top: 10px;
    font-size: 50px;
}

#signup-button a {
  color: white;
}

#single-totem img {
  height: 50px;
  width: auto;
}

/*index page*/
#specialty-button {
  display: inline-block;
  text-align: center;
  background-color: #669884;
  margin-top: 10px;
  font-size: 30px;
  color: white;
}

/*developer cards*/
.tribe-row {
  display: inline-block;
}

.card {
  max-width: 80%;
}

.card-totem img {
  height: 175px;
  width: auto;
  margin-top: 10px;
  margin-bottom: -10%;
}

/*#developer-card {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}*/

.height-restrictor {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#developer-image {
  max-width: 250px;
  height: auto;
  max-height: 250px;
  border-radius: 150px;
}

.brown.lighten-5 {
    background-color: #efebe9 !important;
    margin-left: auto;
    margin-right: auto;
}

.card-content {
  font-size: 2.0rem;
}

#developer-bio {
  color: #540018;
  font-size: 50px;
  text-align: center;
  background-color: #669884;
  width: 100%;
}

/*forms*/
form label {
  font-size: 40px;
  color: #540018;
  text-shadow: .5px .5px grey;
}

form input {
  font-size: 2.5em;
  font-family: monospace;
}

#form-value {
  font-size: 2.5em;
  font-family: monospace;
}

/*#form-button {
  border-radius: 10px;
  font-size: 2.5em;
  color: #540018;
}*/

#filter {
    font-size: 1.0em;
    font-family: monospace;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

#form-button {
    border-radius: 10px;
    font-size: 2.0em;
    color: white;
    background-color: #795548;
    font-family: 'Amatic SC', cursive;
}

.side-nav a {
    color: #444;
    display: block;
    font-size: 2rem;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
}
