<div class= "center" id="single-totem">
    <%= image_tag("database/horse_animal_totem.png") %>
    <%= image_tag("front_end/hawk_animal_totem.png") %>
    <%= image_tag("back_end/fox_animal_totem.png") %>
</div>